<ul class="nav flex-column pl-3">
  <li class="nav-item tasks-tab px-5 active mb-2">
    <a class="nav-link active" href="#">
      <FaIcon @icon="check-circle" @prefix="far" />
      <span class="pl-1">Tasks</span>
    </a>
  </li>
  <li class="nav-item home-tab px-5 mb-2">
    <a class="nav-link" href="#">
      <FaIcon @icon="home" @prefix="fas" />
      <span class="pl-1">Home</span>
    </a>
  </li>
</ul>